[submodule "zazl/optimizer"]
	path = zazl/optimizer
	url = git@github.com:zazl/optimizer-release.git
[submodule "zazl/dependencies"]
	path = zazl/dependencies
	url = git@github.com:zazl/optimizer-dependencies.git
[submodule "org.dojotoolkit.dojo/dojo"]
	path = org.dojotoolkit.dojo/dojo
	url = https://github.com/dojo/dojo.git
[submodule "org.dojotoolkit.dojo/dijit"]
	path = org.dojotoolkit.dojo/dijit
	url = https://github.com/dojo/dijit.git
[submodule "org.dojotoolkit.dojo/dojox"]
	path = org.dojotoolkit.dojo/dojox
	url = https://github.com/dojo/dojox.git
