[submodule "zazl/optimizer"]
	path = zazl/optimizer
	url = git@github.com:zazl/optimizer-release.git
[submodule "zazl/dependencies"]
	path = zazl/dependencies
	url = git@github.com:zazl/optimizer-dependencies.git

